.text-format{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color:rgb(253, 229, 229);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-text-box{
    background-color: lightcoral;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 20px 20px rgb(87, 36, 36);
    max-width: 30rem;
}

.main-image{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(87, 36, 36);
    display: flex;
    font-size: x-large;
    font-weight: lighter;
}

.nav-bar li a{
    display: block;
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
}

.nav-bar li a:hover{
    background-color: rgb(46, 22, 22);
}

.order-table{
    background-color: lightcoral;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 20px 20px rgb(87, 36, 36);
    max-width: 30rem;
    font-size: large;

}

.order-table, th, td{
    border: 1px, solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    background-color: rgb(87, 36, 36);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: large;
    font-weight: lighter;
    margin-top: 1rem;
}

.button:hover{
    background-color: rgb(46, 22, 22);
}